
<div class="row">
  <div *ngFor="let car of cars" class="col-md-4"><br> <!-- Burada 4, her satırda 3 kart göstermek için -->
    <div class="card" style="width: 22rem; height: 30rem;">
      <img *ngFor="let carImage of carImages" class="card-img-top" [src]="url+carImage.imagePath" width="8px">
       <div class="card-body"><br>
        <h5 class="card-title">{{car.description}}</h5><br>
        <p class="card-text"><b>Renk:</b> {{car.colorName}} <br> <b>Ücret:</b> {{car.dailyPrice}}</p>
        <a href="#" class="btn btn-primary">Detaylara Git!</a>
      </div>
    </div>
  </div>
</div>